<header class='bg-gray-800 p-4'>
  <nav class='container mx-auto'>
    <ul class='flex space-x-4 justify-end'>
      <li><a href='/' class='text-white hover:text-gray-400'>Home</a></li>
      <li><a href='/project-logs' class='text-white hover:text-gray-400'>Error
          Logs</a></li>
          <li><a href='/api-docs' class='text-white hover:text-gray-400'>Swagger
              UI</a></li>
        </a></li>
    </ul>
  </nav>
</header>
