{{#extend 'body'}}

  <section>
    <div>
      <h1 class='text-4xl text-center p-4 text-danger'>Welcome to {{title}}</h1>
      <p class='text-center p-4'>{{message}}</p>
    </div>
  </section>
{{/extend}}